:root {
    --one-hour: 8%;
    --margin-between-hours: 2px;
}

body {
    margin: 3%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}

input {
    padding: 1%;
}

#room-div {
    /* padding: 2%; */
    max-height: 4cm;
    width: 4cm;
    display: flex;
    flex-flow: column wrap;
    /* align-items: baseline; */
    /* align-content: space-between; */
}

#room-div>div {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#main-data {
    display: flex;
    flex-flow: row wrap;
    max-height: 10cm;
    align-items: flex-start;
    justify-content: left;
}

#main-data>div {
    width: 170px;
    height: fit-content;
}

/* popups:
    https://www.w3schools.com/howto/howto_js_popup.asp
    https://www.w3schools.com/howto/howto_css_tooltip.asp
*/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.1s;
    animation: fadeIn 0.1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.timeline-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 10px 0;
}

.timeline-item {
    /* padding: 2px; */
    margin: 0 2px 0 0;
    border-radius: 2px;
    /* border: 1px solid gray; */
    font-size: xx-small;
    height: 30px;
}

.timeline-label {
    background-color: white;
    border: 0;
    width: 80px;
    font-size: small;
    font-weight: bold;
    margin: 0 2px 0 0;
    height: 30px;
    padding: 5px;
}

.one-hour {
    width: var(--one-hour);
}

.two-hours {
    width: calc(var(--margin-between-hours) + var(--one-hour) * 2);
}

.three-hours {
    width: calc(var(--margin-between-hours) * 2 + var(--one-hour) * 3);
}

.four-hours {
    width: calc(var(--margin-between-hours) * 3 + var(--one-hour) * 4);
}


.starttime {
    text-align: left;
}

.endtime {
    padding-top: 10px;
    text-align: right;
}

.hide {
    visibility: hidden;
}

.linux {
    background-color: rgba(174, 218, 188, 0.319);
}

.PC {
    background-color: rgba(174, 191, 218, 0.319);
}