body {
    margin: 3%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}

input {
    padding: 1%;
}

#room-div {
    /* padding: 2%; */
    max-height: 4cm;
    width: 4cm;
    display: flex;
    flex-flow: column wrap;
    /* align-items: baseline; */
    /* align-content: space-between; */
}

#room-div > div {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#main-data {
    display: flex;
    flex-flow: row wrap;
    max-height: 10cm;
    align-items: flex-start;
    justify-content: left;
}

#main-data > div {
    width: 170px;
    height: fit-content;
}