body {
    font-family: "Noto Mono", monospace;
}

.hidden {
    display: none;
}

.input {
    display: grid;
    row-gap: 1em;
    background-color: lightblue;
    border-radius: 3px;
    width: fit-content;
    padding: 1em;
    margin: auto;
    justify-items: center;
}

#checkboxes {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: fit-content;
}

table {
    margin: 2em auto 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 4em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* .between-times {
    padding: 0 0.5em 0 0.5em;
} */

/* .input-item > input {
    width: fit-content;
    height: fit-content;
} */

/* .input-item {
    padding: 1em;
    row-gap: 0.2em;
} */

/* button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: white;
    border-radius: 3px;
} */

/* button:hover {
    cursor: pointer;
} */

@media (max-width: 600px) {
    label, input, select, button, .between-time, .between-times {
        font-size: x-large;
    }
}

/* input, select {
    background-color: white;
} */

/* #info {
    display: hidden;
} */

/* p {
    padding-left: 1em;
    padding-right: 1em;
} */

/* p#info {
    text-align: center;
} */